<a id='begin' href="#play-modal" data-backdrop="static" 
   data-keyboard="false" data-toggle="modal">Start</a>

<div id='play-modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <h1>Hey whats up? This is level <%= @level.id  %></h1>
     <p>Name: <%= @level.name %></p>
     <p>Description: <%= @level.description %></p>
     <br>
     <p><%= link_to "Next Level", level_path(@level.id + 1)  %></p>
     <p><%= link_to "Previous Level", level_path(@level.id - 1)  %></p>
     <button id='start-level'>Play</button>
    </div>
  </div>
</div>

<a id='end' href="#end-modal" data-backdrop="static" 
   data-keyboard="false" data-toggle="modal">The end</a>

<div id='end-modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <h1>The end on level 1</h1>
			<p>Your score is <span id='your-time'></span></p>
			<button id='play-again'>play again</button>
			
      <%= form_for @update, remote: true do |f|  %>
        <%= f.hidden_field :body  %>
        <%= f.submit  %>
      <% end %>
      
      <%= form_for @score, remote: true do |f|  %>
       <%= f.hidden_field :score %>
       <p id='level-id' data-level='<%= @level.id %>'><%= f.hidden_field :level_id  %></p>
        <%= f.submit "submit time"  %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#play-modal').hide().trigger('click');
  $('#end-modal').hide();
  $('#begin').hide().trigger('click');
  $('#end').hide();

  $('#update_body').val('Jonny finished first level');
  $('#play-again').on('click', function() {
      location.reload();
  });
  var round_time = parseInt($('.clock').data('time')); 

  var clock = $('.clock').FlipClock(round_time, {
    countdown: true,
    clockFace: 'MinuteCounter'
  });
  clock.stop();
  $('#start-level').on('click', function() {
    $('.modal').modal('hide');
    clock.start();
    setTimeout(function() { stopRound() }, 30000);
  });
  function stopRound() {
    clock.stop()
    var seconds = clock.getTime().getSeconds();
    var min = clock.getTime().getMinutes();
    var level = $('#level-id').data('level');

    $('#submit_score').val(seconds);
    $('#submit_level_id').val(level);

    $('#end').trigger('click');
    $('#your-time').text(seconds);
  } 
  $('#done').on('click', function() {
      stopRound();
  });
});
</script>

