<a id='begin' href="#play-modal" data-backdrop="static" 
   data-keyboard="false" data-toggle="modal">Start</a>

<div id='play-modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <h1>Hey whats up? This is level 1</h1>
     <button id='start-level'>Play</button>
    </div>
  </div>
</div>

<a id='end' href="#end-modal" data-backdrop="static" 
   data-keyboard="false" data-toggle="modal">The end</a>

<div id='end-modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <h1>The end on level 1</h1>
			<p>Your score is <span id='your-time'></span></p>
			<button id='play-again'>play again</button>
			
      <%= form_for @update, remote: true do |f|  %>
        <%= f.hidden_field :body  %>
        <%= f.submit  %>
      <% end %>
      
      <%= form_for @score, remote: true do |f|  %>
        <%= f.hidden_field :score %>
        <%= f.submit "submit time"  %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  $('#update_body').val('Jonny finished first level');
  $('#play-again').on('click', function() {
      location.reload();
  });  
  var clock = $('.clock').FlipClock(30, {
    countdown: true,
    clockFace: 'MinuteCounter'
  });
  clock.stop();
  $('#start-level').on('click', function() {
    $('.modal').modal('hide');
    clock.start();
    setTimeout(function() { stopRound() }, 30000);
  });
  function stopRound() {
    clock.stop()
    var seconds = clock.getTime().getSeconds();
    var min = clock.getTime().getMinutes();
    $('#first_score').val(seconds);
    $('#end').trigger('click');
    $('#your-time').text(seconds);
    console.log(seconds);
    console.log(min);
  } 
  $('#done').on('click', function() {
      stopRound();
  });
});
</script>

